@import "tailwindcss";

@theme {
  --color-discord-blurple: #5865F2;
  --color-discord-dark: #313338;
  --color-discord-black: #2B2D31;
  --color-discord-gray: #B5BAC1;
}

body {
  background-color: var(--color-discord-dark);
  color: white;
}
